<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../../public/css/index.css">
    <link rel="stylesheet" href="../../public/css/header.component.css"> 
  </head>
  <body>
    <header>
      <h1>User Management System</h1>
      <nav class="navbar">
        <a href="#" class="active">Home</a>
        <a href="../forms/signup.html">Sign up</a> 
        <a href="../forms/signin.html">Sign in</a> 
      </nav>
    </header>
    <div id="container"></div>
    <script src="../../public/js/index.js" type="module"></script>
  </body>
</html>