<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signin</title>
    <link rel="stylesheet" href="../../public/css/header.component.css" />
    <link rel="stylesheet" href="../../public/css/signin.css" />
  </head>

  <body>
    <main id="container">
      <form action="../pages/index.html" method="get">
        <h1>Sign in</h1>
        <div class="input-group">
          <label for="name">Email</label>
          <input
            type="text"
            id="name"
            placeholder="Your username or email . . . ."
            name="email"
          />
          <img src="../../public/images/icons/email-icon.png" alt="icon" />
          <p class="error-message"></p>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            placeholder="Your password . . . ."
            name="password"
          />
          <img src="../../public/images/icons/lock-icon.png" alt="icon" />
          <img
            src="../../public/images/icons/eye-close-icon.png"
            alt="icon"
            class="eye-icon"
          />
          <p class="error-message"></p>
        </div>
        <div class="remember-me-checkbox-group">
          <div>
            <input type="checkbox" id="checkbox" name="rememberMe" />
            <label for="checkbox">Remember Me</label>
          </div>
        </div>
        <button>Sign in</button>
        <a href="./signup.html">Don't have an account ? Sign up</a>
      </form>
    </main>
    <script src="../../public/js/signin.js" type="module"></script>
    <script src="../../public/js/header.js"></script>
  </body>
</html>
